
/*Efectos Nav*/
.headerPrincipal-nav-link:hover{
    transform: scale(1.1);
    font-size: 220%;        
    transition: 0.3s;
}
/*----------------------------------body--------------------------------------*/
.sec1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sec1_img{
    padding-top: 20px;
    width: max-content;
}
.sec1_tit{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin: auto;
}
.sec1_descripcion{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: justify;
}
.sec1_documento{
    padding-block: 10px;
    padding-left: 15px;
    color: blueviolet;
    text-decoration: none;
}
.sec1_butt{
    padding-left: 15px;
    padding-top: 15px;
}
.sec1_boton{
    width: 10em;
    height: 3.5em;
    background-color: rgb(42, 108, 165);
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: white;
}
.sec1_boton
    .sec2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .sec2_tit{
        padding-left: 10px;
        padding-bottom: none;
    }
    .sec2_subtit{
        color: blueviolet;
        font-weight: bold;
        font-style: italic;
        padding-left: 10px;

    }
    .sec2_descripcion{
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;

    }
    .sec2_descripcion2{
        padding-left: 30px;
        padding-right: 10px;
        text-align: justify;
    }

/*----------------------------------foot--------------------------------------*/